<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<header th:replace="fragments/header::header"></header>
<body>
<h4 class="mb-3" style="margin-left: 560px;">채팅하기</h4><br><br>
<div class="container" style="width: 800px;">
    <div class="card row d-flex justify-content-center align-items-center h-100" style="padding: 30px 50px 50px 50px;">
        <div style="margin-bottom: 50px;">
            <img th:src="${chatInfo.boardImage}" alt="boardImage" style="width: 50px; height: 50px"/>
            <span class="card-title" th:text="${chatInfo.boardTitle}" style="font-size: 25px;"></span><br>
            &nbsp;&nbsp;<span class="text-muted" th:text="|${#numbers.formatInteger(chatInfo.boardPrice, 0, 'COMMA')}￦|"></span>
            &nbsp;&nbsp;<span class="text-muted" th:text="${chatInfo.boardStatus.getValue()}"></span>
        </div>
        <div class="col-sm-12">
            <div id="user_chat_data" class="user_chat_data">
                <div class="profile_name" style="text-align: center">
                    <span id="username" th:text="${chatInfo.receiverName}" style="color: #FFA500; font-weight: bold"></span>님과의 대화입니다.<br>
                    <small class="text-muted">보통 10분이내 응답</small>
                </div>
                <div class="container-fluid chat_section" id="chat-box" style="overflow: auto; height: 600px;">

                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input id="chat-outgoing-msg" type="text" class="write_msg" placeholder="메세지를 입력하세요" />
                        <button id="chat-outgoing-button" class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    let chatInfo = [[${chatInfo}]];

    let senderId = chatInfo.senderId;
    let senderName = chatInfo.senderName;
    let boardId = chatInfo.boardId;
    let boardTitle = chatInfo.boardTitle;
    let boardStatus = chatInfo.boardStatus;
    let receiverId = chatInfo.receiverId;
    let receiverName = chatInfo.receiverName;
    let roomNum = chatInfo.roomNum;

    let boardStatusValue;
    if (boardStatus === "SALE_COMP") {
        boardStatusValue = "판매완료";
    } else if (boardStatus === "SALE_RSRVT") {
        boardStatusValue = "예약완료"
    } else {
        boardStatusValue = "판매중";
    }

    $(function () {
       if (boardStatus === "SALE_COMP" || boardStatus === "SALE_RSRVT") {
           $("#chat-outgoing-msg").attr("disabled", true).attr("placeholder", `${boardStatusValue}된 상품으로 메세지를 보낼 수 없어요`);
           $("#chat-outgoing-button").attr("disabled", true);
       }

    });
    

    // SSE 연결하기
    const eventSource = new EventSource(
        `http://localhost:8080/board/${boardId}/chat/${roomNum}`
    );

    eventSource.onmessage = (event) => {

        const data = JSON.parse(event.data);
        if (data.senderId === senderId) {
            //로그인한 유저바 보낸 메세지
            //파란박스(오른쪽)
            initMyMessage(data);
        } else {
            //회색박스(왼쪽)
            initYourMessage(data);
        }
    };

    //파란박스 만들기
    function getSendMsgBox(data) {
        let md = data.createdAt.substring(5, 10);
        let tm = data.createdAt.substring(11, 16);
        let convertTime = md + " " + tm;

        return `<div class="sent_msg">
            <p>${data.msg}</p>
            <span class="time_date"> ${convertTime} / <b>${data.senderName}</b> </span>
          </div>`;
    }

    //회색박스 만들기
    function getReceivedMsgBox(data) {
        let md = data.createdAt.substring(5, 10);
        let tm = data.createdAt.substring(11, 16);
        let convertTime = md + " " + tm;

        return `<div class="received_withd_msg">
            <p>${data.msg}</p>
            <span class="time_date"> ${convertTime} / <b>${data.senderName}</b> </span>
          </div>`;
    }

    // 최초 초기화될 때 1번방 3건이 있으면 3건을 다 가져와요
    // addMessage() 함수 호출시 DB에 insert되고, 그 데이터가 자동으로 흘러들어온다(SSE)
    // 파란박스 초기화하기
    function initMyMessage(data) {
        let chatBox = document.querySelector("#chat-box");

        let chatSendBox = document.createElement("div");
        chatSendBox.className = "outgoing_msg";

        chatSendBox.innerHTML = getSendMsgBox(data);
        chatBox.append(chatSendBox);

        document.documentElement.scrollTop = document.body.scrollHeight;
    }

    //회색 박스 초기화하기
    function initYourMessage(data) {
        let chatBox = document.querySelector("#chat-box");

        let receivedBox = document.createElement("div");
        receivedBox.className = "received_msg";

        receivedBox.innerHTML = getReceivedMsgBox(data);
        chatBox.append(receivedBox);

        document.documentElement.scrollTop = document.body.scrollHeight;
    }

    // AJAX 채팅 메세지를 전송
    async function addMessage() {
        let msgInput = document.querySelector("#chat-outgoing-msg");

        let chat = {
            roomNum: roomNum,
            senderId: senderId,
            senderName: senderName,
            receiverId: receiverId,
            receiverName: receiverName,
            boardId: boardId,
            boardTitle: boardTitle,
            msg: msgInput.value,
        };

        fetch("http://localhost:8080/chat", {
            method: "post",
            body: JSON.stringify(chat), //JS Object -> JSON
            headers: {
                "Content-Type": "application/json; charset=utf-8",
            },
        });
        msgInput.value = "";
    }

    //버튼 클릭시 메세지 전송
    document.querySelector("#chat-outgoing-button").addEventListener("click", () => {
        addMessage();
    });


    //엔터를 치면 메세지 전송
    document.querySelector("#chat-outgoing-msg").addEventListener("keydown", (e) => {
        if (e.keyCode === 13) {
            addMessage();
        }
    });


    /*]]>*/
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>