<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <div class="row py-5 text-center">
        <div class="col-3">
            <ul class="list-group">
                <a href="#" th:href="@{/activityAlarmList}" th:classappend="${isNew}? active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽지 않은 알림
                    <span th:text="${numberOfNotChecked}">3</span>
                </a>
                <a href="#" th:href="@{/activityAlarmList/old}" th:classappend="${!isNew}? active"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽은 알림
                    <span th:text="${numberOfChecked}">0</span>
                </a>
            </ul>

            <ul class="list-group mt-4">
                <a href="#" th:if="${newAttentionAlarmList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    새 관심 알림
                    <span th:text="${newAttentionAlarmList.size()}">3</span>
                </a>
                <a href="#" th:if="${newCommentAlarmList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    새 댓글 알림
                    <span th:text="${newCommentAlarmList.size()}">0</span>
                </a>
                <a href="#" th:if="${newLikesAlarmList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    새 좋아요 알림
                    <span th:text="${newLikesAlarmList.size()}">0</span>
                </a>
            </ul>

            <ul class="list-group mt-4" th:if="${numberOfChecked > 0}">
                <form class="row" th:action="@{/activityAlarmList}" th:method="post">
                    <button type="submit" class="btn btn-outline-warning" aria-describedby="deleteHelp">
                        읽은 알림 삭제
                    </button>
                </form>
                <small id="deleteHelp">삭제를 안해도 한달 지난 알림은 사라집니다.</small>
            </ul>
        </div>
        <div class="col-9">
            <div class="card" th:if="${activityAlarmList.size() == 0}">
                <div class="card-header">
                    알림 메시지가 없습니다.
                </div>
            </div>

            <div class="card" th:if="${newAttentionAlarmList.size() > 0}">
                <div class="card-header">
                    나의 판매상품에 관심이 추가 됐습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${attentionAlarm.link}}" th:each="attentionAlarm : ${newAttentionAlarmList}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted"><span th:text="${attentionAlarm.sender}" style="color: #0090F9"></span>님이 [[${attentionAlarm.message}]]</small>
                            <small class="fromNow text-muted" th:text="${attentionAlarm.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card mt-4" th:if="${newCommentAlarmList.size() > 0}">
                <div class="card-header">
                    나의 판매상품에 댓글이 달렸습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${commentAlarm.link}}" th:each="commentAlarm : ${newCommentAlarmList}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted"><span th:text="${commentAlarm.sender}" style="color: #0090F9"></span>님이 [[${commentAlarm.message}]]</small>
                            <small class="fromNow text-muted" th:text="${commentAlarm.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card mt-4" th:if="${newLikesAlarmList.size() > 0}">
                <div class="card-header">
                    나의 댓글에 좋아요가 눌렸습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${likesAlarm.link}}" th:each="likesAlarm : ${newLikesAlarmList}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted"><span th:text="${likesAlarm.sender}" style="color: #0090F9"></span>님이 [[${likesAlarm.message}]]</small>
                            <small class="fromNow text-muted" th:text="${likesAlarm.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>