<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        Swal.fire({
           title: 'Error',
           html: errorMessage,
           icon: "error"
        });
    } else if (successMessage != null) {
        Swal.fire({
            title: 'Success',
            html: successMessage,
            icon: 'success'
        })
    }

</script>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card-deck">
            <th:block th:each="i : ${#numbers.sequence(0, boardList.size() - 1)}">
                <div th:if="${i % 4 eq 0}" class="row">
                    <th:block th:each="j : ${#numbers.sequence(i, i+3)}">
                        <div th:if="${j le boardList.size() - 1}" class="card border-info mb-3" style="width: 14rem; cursor: pointer; padding-top: 12px; margin-left: 40px;" th:onclick="|location.href='/board/${boardList[j].id}'|">
                                <img class="card-img-top" th:src="${boardList[j].image}" alt="Card image cap" style="width: 200px; height: 150px;">
                                <div class="card-body">
                                    <h6 class="card-title" style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: bold" th:text="${boardList[j].title}">Card title</h6>
                                    <p class="card-text">
                                        <small class="text-muted" th:text="${boardList[j].city}"></small> ·
                                        <small class="text-muted" th:text="${boardList[j].diffCreatedAt}"></small>
                                    </p>
                                    <p class="card-text" th:text="|${#numbers.formatInteger(boardList[j].price, 0, 'COMMA')}￦|">750,000원</p>
                                </div>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>