<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card mb-3" style="width: 40rem; padding-top: 12px;">
            <img th:src="${board.image}" class="card-img-top" alt="...">
            <div class="card-header bg-transparent">
                <p class="card-title" th:text="${board.nickname}" style="font-weight: bold"></p>
                <p class="card-text" th:text="${board.city}"></p>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${board.title}" style="font-weight: bold; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">Card title</h5>
                <small th:class="text-muted" th:text="${board.category}"></small> ·
                <small th:class="text-muted" th:text="${board.diffCreatedAt}"></small>
                <br><br>
                <p class="card-text" th:utext="${board.content}"></p>
                <br><br>
                <small th:class="text-muted">채팅 </small><small id="chatCnt" th:class="text-muted">1</small> ·
                <small th:class="text-muted">관심 </small><small id="attentionCnt" th:class="text-muted" th:text="${attentionCnt}"></small> ·
                <small th:class="text-muted">조회 </small><small id="boardView" th:class="text-muted" th:text="${board.view}"></small>
            </div>
            <div class="card-footer bg-transparent">
                <button id="attentionBtn" class="card-link" style="margin-right: 5px; border:0; outline: 0; background-color: transparent;">
                    <img th:if="${attentionInpYn eq 'N'}" id="heart-white" src="https://img.icons8.com/ios/50/000000/novel--v1.png"/>
                    <img th:if="${attentionInpYn eq 'Y'}"id="heart-red" src="https://img.icons8.com/color/50/000000/novel--v1.png"/>
                </button>
                <span class="card-text" th:text="|${#numbers.formatInteger(board.price, 0, 'COMMA')}￦|"></span>
                <a href="#" class="btn btn-primary" style="float:right; background-color: orange; border-color: orange">채팅하기</a>
            </div>
        </div>
        <div style="padding:50px; border: 1px solid lightgray; border-radius: 20px; display: flex; justify-content: center; margin-top: 50px;">
            <textarea id="content" rows="4" cols="113" placeholder="댓글을 입력해주세요."></textarea>
            <button id="commentBtn" class="btn btn-primary btn-lg" type="button" style="margin-left: 20px">댓글 쓰기</button>
        </div>
        <div style="margin-top: 70px;">
            <ul class="myList">
                <li class="myListContent">
                    <div style="margin-bottom: 70px;">
                        <div style="float: left; display: inline-block">
                            <h5 id="writer-nickname" style="font-weight: bold;">messi1</h5>
                            <span id="writer-city" th:class="text-muted">안양시 동안구</span> · <span id="writer-diffAt" th:class="text-muted">10분전</span>
                        </div>
                        <div style="float: right; display: inline-block;">
                            <span>좋아요</span><br>
                            <span id="comment-like" th:class="text-muted">31</span>
                        </div>
                    </div>
                    <div>
                        <h5>content</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script async th:inline="javascript">
    /*<![CDATA[*/

    let boardId = /*[[${board.id}]]*/;

    $("#attentionBtn").on('click', function () {
        $.ajax({
            url: "/board/" + boardId + "/attention/process.do",
            type: "post",
            // data: {"boardId" : boardId},
            sync: false,
            success: function (attentionInpYn) {
                let curAttentionCnt = parseInt($("#attentionCnt").text());
                if (attentionInpYn === "N") {
                    let imgObj = $("<img id=\"heart-white\" src=\"https://img.icons8.com/ios/50/000000/novel--v1.png\" alt='heart-white'>");
                    $("#attentionBtn").empty();
                    $("#attentionBtn").append(imgObj);
                    $("#attentionCnt").text(curAttentionCnt - 1);
                } else {
                    let imgObj = $("<img id=\"heart-red\" src=\"https://img.icons8.com/color/50/000000/novel--v1.png\" alt='heart-red'>");
                    $("#attentionBtn").empty();
                    $("#attentionBtn").append(imgObj);
                    $("#attentionCnt").text(curAttentionCnt + 1);
                }
            }
        })
    });

    $("#commentBtn").on('click', function () {
        $.ajax({
            url: "/board/" + boardId + "/comment/new.do",
            type: "post",
            data: {"content" : $("#content").val()},
            contentType : "application/x-www-form-urlencoded; charset=utf-8",
            dataType : "json",
            sync: false,
            success: function (writeInfo) {
                // alert(writeInfo.memberId);
                // alert(writeInfo.nickname);
                // alert(writeInfo.city);

            }
        });
    });

    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>