<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card mb-3" style="width: 40rem; padding-top: 12px;">
            <img th:src="${board.image}" class="card-img-top" alt="..." style="width: 610px; height: 500px;">
            <div class="card-header bg-transparent">
                <span class="card-title" th:text="${board.nickname}" style="font-weight: bold"></span>
                <th:block th:if="${board.memberId == memberId}">
                    <select class="form-select" id="boardStatus" style="float: right; width: 120px;">
                        <option th:each="status : ${T(js.daangnclone.domain.board.BoardStatus).values()}" th:value="${status.getKey()}" th:text="${status.getValue()}" th:selected="${board.boardStatus.getKey() eq status.getKey()}"></option>
                    </select>
                </th:block>
                <th:block th:if="${board.memberId != memberId}">
                    <span class="text-muted" th:text="${board.boardStatus.getValue()}" style="float: right"></span>
                </th:block>
                <p class="card-text" th:text="${board.city}"></p>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${board.title}" style="font-weight: bold; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">Card title</h5>
                <small th:class="text-muted" th:text="${board.category}"></small> ·
                <small th:class="text-muted" th:text="${board.diffCreatedAt}"></small>
                <br><br>
                <p class="card-text" th:utext="${board.content}"></p>
                <br><br>
                <small th:class="text-muted">채팅 </small><small id="chatCnt" th:class="text-muted" th:text="${chatRoomCnt}"></small> ·
                <small th:class="text-muted">관심 </small><small id="attentionCnt" th:class="text-muted" th:text="${attentionCnt}"></small> ·
                <small th:class="text-muted">조회 </small><small id="boardView" th:class="text-muted" th:text="${board.view}"></small>
            </div>
            <div class="card-footer bg-transparent">
                <button id="attentionBtn" class="card-link" style="margin-right: 5px; border:0; outline: 0; background-color: transparent;">
                    <img th:if="${attentionInpYn eq 'N'}" id="heart-white" src="https://img.icons8.com/ios/50/000000/novel--v1.png"/>
                    <img th:if="${attentionInpYn eq 'Y'}"id="heart-red" src="https://img.icons8.com/color/50/000000/novel--v1.png"/>
                </button>
                <span class="card-text" th:text="|${#numbers.formatInteger(board.price, 0, 'COMMA')}￦|"></span>
                <button id="chatBtn" class="btn btn-primary" style="float:right; background-color: orange; border-color: orange; color: white">채팅하기</button>
            </div>
        </div>
        <div style="padding:50px; border: 1px solid lightgray; border-radius: 20px; display: flex; justify-content: center; margin-top: 50px;">
            <textarea id="content" rows="4" cols="113" placeholder="댓글을 입력해주세요."></textarea>
            <button id="commentBtn" class="btn btn-primary btn-lg" type="button" style="margin-left: 20px">댓글 쓰기</button>
        </div>
        <div style="margin-top: 70px;">
            <ul class="myList" id="commentUl">
                <li th:id="|li-${comment.id}|" class="myListContent" th:each="comment : ${commentList}">
                    <br>
                    <div style="margin-bottom: 70px;">
                        <div style="float: left; display: inline-block">
                            <div style="float: left; margin-right: 10px;">
                                <img th:if="${comment.provider eq 'daanngn'}" src="https://img.icons8.com/color/35/000000/carrot.png" alt="daanngn">
                                <img th:if="${comment.provider eq 'naver'}" src="/images/naver.PNG" style="width: 35px; height: 35px" alt="naver"/>
                                <img th:if="${comment.provider eq 'google'}" src="/images/google.PNG" style="width: 35px; height: 35px" alt="google"/>
                                <img th:if="${comment.provider eq 'kakao'}" src="/images/kakao.png" style="width: 35px; height: 35px" alt="kakao"/>
                            </div>
                            <div style="float: right">
                                <h5 style="font-weight: bold;" th:text="${comment.nickname}"></h5>
                                <span class="text-muted" th:text="${comment.city}"></span> · <span class="text-muted" th:text="${comment.diffCreatedAt}"></span>
                            </div>
                        </div>
                        <div style="float:right; display: inline-block;">
                            <button class="likeBtn" style="margin-right: 5px; border:0; outline: 0; background-color: transparent;" th:value="${comment.id}">
                                <img th:if="${comment.likeInpYn eq 'N'}" src="https://img.icons8.com/external-anggara-outline-color-anggara-putra/32/000000/external-like-support-anggara-outline-color-anggara-putra-2.png" alt="good"/>
                                <img th:if="${comment.likeInpYn eq 'Y'}" src="https://img.icons8.com/external-anggara-filled-outline-anggara-putra/32/000000/external-like-support-anggara-filled-outline-anggara-putra-2.png" alt="bad"/>
                            </button>
                            <span style="font-size: 20px;" th:text="${comment.likeCnt}"></span>
                        </div>
                    </div>
                    <div>
                        <h5 th:text="${comment.content}"></h5>
                    </div>
                    <br>
                </li>
            </ul>
        </div>
    </div>
</div>

<script async th:inline="javascript">
    /*<![CDATA[*/

    let boardId = /*[[${board.id}]]*/;
    let loginMemberId = /*[[${memberId}]]*/;
    let boardMemberId = /*[[${board.memberId}]]*/;
    let boardStatus = /*[[${board.boardStatus}]]*/;

    $(function () {
        if (loginMemberId === boardMemberId) {
            $("#chatBtn").hide();
        }

        if (boardStatus === "SALE_COMP" || boardStatus === "SALE_RSRVT"){
            $("#chatBtn").attr("disabled", true);
        }

        let encryptBoardId = btoa(boardId.toString() + loginMemberId.toString() + boardMemberId.toString());
        $("#chatBtn").click(function () {
            $(location).attr("href", `/board/${boardId}/chat?roomNum=${encryptBoardId}`);
        })
    });

    $("#attentionBtn").on('click', function () {
        $.ajax({
            url: "/board/" + boardId + "/attention/process.do",
            type: "post",
            // data: {"boardId" : boardId},
            sync: false,
            success: function (attentionInpYn) {
                let curAttentionCnt = parseInt($("#attentionCnt").text());
                if (attentionInpYn === "N") {
                    let imgObj = $("<img id=\"heart-white\" src=\"https://img.icons8.com/ios/50/000000/novel--v1.png\" alt='heart-white'>");
                    $("#attentionBtn").empty();
                    $("#attentionBtn").append(imgObj);
                    $("#attentionCnt").text(curAttentionCnt - 1);
                } else {
                    let imgObj = $("<img id=\"heart-red\" src=\"https://img.icons8.com/color/50/000000/novel--v1.png\" alt='heart-red'>");
                    $("#attentionBtn").empty();
                    $("#attentionBtn").append(imgObj);
                    $("#attentionCnt").text(curAttentionCnt + 1);
                }
            }
        })
    });

    $(document).on('click', '.likeBtn', function () {
        let commentId = $(this).val();
        let btnObj = $(this);
        let likeCntObj = $(this).next();
        let curLikeCnt = parseInt($(this).next().text());
        $.ajax({
            url: "/comment/" + commentId + "/like/process.do",
            type: "post",
            sync: false,
            success: function (likeInpYn) {
                if (likeInpYn === "N") {
                    let imgObj = $("<img src=\"https://img.icons8.com/external-anggara-outline-color-anggara-putra/32/000000/external-like-support-anggara-outline-color-anggara-putra-2.png\"/>")
                    btnObj.empty();
                    btnObj.append(imgObj);
                    likeCntObj.text(curLikeCnt - 1);
                } else {
                    let imgObj = $("<img src=\"https://img.icons8.com/external-anggara-filled-outline-anggara-putra/32/000000/external-like-support-anggara-filled-outline-anggara-putra-2.png\"/>")
                    btnObj.empty();
                    btnObj.append(imgObj);
                    likeCntObj.text(curLikeCnt + 1);
                }
            }
        });
    });


    $("#commentBtn").on('click', function () {
        $.ajax({
            url: "/board/" + boardId + "/comment/new.do",
            type: "post",
            data: {"content" : $("#content").val()},
            contentType : "application/x-www-form-urlencoded; charset=utf-8",
            dataType : "json",
            sync: false,
            success: function (writeInfo) {
                $("#content").val("");

                let imgProvider;

                if (writeInfo.provider === "daanngn") {
                    imgProvider = "<img src=\"https://img.icons8.com/color/35/000000/carrot.png\" alt=\"daanngn\">";
                } else if (writeInfo.provider === "naver") {
                    imgProvider = "<img src=\"/images/naver.PNG\" style=\"width: 35px; height: 35px\" alt=\"naver\"/>";
                } else if (writeInfo.provider === "google") {
                    imgProvider = "<img src=\"/images/google.PNG\" style=\"width: 35px; height: 35px\" alt=\"google\"/>";
                } else if (writeInfo.provider === "kakao") {
                    imgProvider = "<img src=\"/images/kakao.png\" style=\"width: 35px; height: 35px\" alt=\"kakao\"/>";
                }


                $("#commentUl").append(
                    "<li id=\"li-" + writeInfo.commentId + "\" class=\"myListContent\">" +
                        "<br>" +
                        "<div style=\"margin-bottom: 70px;\">" +
                            "<div style=\"float: left; display: inline-block\">" +
                                "<div style=\"float: left; margin-right: 10px;\">" +
                                    imgProvider +
                                "</div>" +
                                "<div style=\"float: right;\">" +
                                    "<h5 style=\"font-weight: bold;\">" + writeInfo.nickname + "</h5>" +
                                    "<span class=\"text-muted\">" + writeInfo.city + "</span> · <span class=\"text-muted\">" + writeInfo.diffCreatedAt + "</span>" +
                                "</div>" +
                            "</div>" +
                            "<div style=\"float: right; display: inline-block;\">" +
                                "<button class=\"likeBtn\" style=\"margin-right: 5px; border:0; outline: 0; background-color: transparent;\" value=\"" + writeInfo.commentId + "\">" +
                                    "<img src=\"https://img.icons8.com/external-anggara-outline-color-anggara-putra/32/000000/external-like-support-anggara-outline-color-anggara-putra-2.png\"/>" +
                                "</button>" +
                                "<span style=\"font-size: 20px;\">0</span>" +
                            "</div>" +
                        "</div>" +
                        "<div>" +
                            "<h5>" + writeInfo.content + "</h5>" +
                        "</div>" +
                        "<br>" +
                    "</li>"
                )
            }
        });
    });


    $("#boardStatus").on('change', function () {
        $.ajax({
            url: "/board/" + boardId + "/change.do",
            type: "post",
            data: {"boardStatusCd" : $(this).val()},
            sync: false,
            success: function (message) {
                Swal.fire({
                    title: message.title,
                    html: message.msg,
                    icon: "success"
                })
            }
        })
    });


    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>