<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form mx-auto">
            <h4 class="mb-3">주소 정보 추가</h4>
            <form class="validation-form" novalidate th:action="@{/signup/address}" th:method="post" th:object="${memberAddressForm}">

                <div class="mb-5">

                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p style="color:#bd2130;" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>

                    <label th:for="state">시/도</label>
                    <select class="form-select" th:field="*{state}">
                        <option value=""> --시도-- </option>
                        <option th:each="pprArea : ${pprAreaList}" th:value="${pprArea.areaCd}" th:text="${pprArea.areaName}"></option>
                    </select><br>

                    <label th:for="city">시/군/구</label>
                    <select class="form-select" th:field="*{city}">
                        <option value=""> --시군구-- </option>
                    </select>

                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button id="submitBtn" class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
</div>
<script async th:inline="javascript">
    /*<![CDATA[*/

    $(function () {
        // 시/도 , 시/군/구는 한 세트 이기 때문에 한 곳만 값을 저장되는 것을 방지
        $("#state").val("");
        $("#city").val("");
    })


    $("#state").on('change', function () {
        $.ajax({
            url: "/signup/getPsAreaCd.do",
            type: "post",
            data: {"pprAreaCd" : $(this).val()},
            sync: false,
            success: function (areaList) {
                $("#city").empty();
                $("#city").append("<option value=\"\"> --시군구-- </option>");
                $.each(areaList, function (idx, area) {
                    $("#city").append($("<option>", {
                        value: area.areaCd
                        ,text: area.areaName
                    }));
                })
            }
        })
    });
    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>

</html>