<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form mx-auto">
            <h4 class="mb-3">추가 정보</h4>
            <form class="validation-form" novalidate th:action="@{/signup/details}" th:method="post" th:object="${memberDetailsForm}">

                <div class="mb-5">
                    <label th:for="nickname">별명</label><br>
                    <input type="text" style="width:581px; display: inline-block" class="form-control" th:field="*{nickname}" th:class="${#fields.hasErrors('nickname')} ? 'form-control fieldError' : 'form-control'" placeholder="" value="" required />
                    <button id="validateNicknameBtn" style="display: inline-block; width:130px; margin-left: 20px;" class="btn btn-primary btn-lg" type="button">중복 확인</button>
                    <p id="validateNicknameMsg" style="display: none;"></p>
                    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" style="color:#bd2130;">Incorrect Data</p>
                </div>

                <div class="mb-5">

                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p style="color:#bd2130;" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>

                    <label th:for="state">시/도</label>
                    <select class="form-select" th:field="*{state}">
                        <option value=""> --시도-- </option>
<!--                        <option th:each="pprArea : ${pprAreaList}" th:value="${pprArea.areaCd}" th:text="${pprArea.areaName}"></option>-->
                        <option value="101000">서울시</option>
                        <option value="102000">경기도</option>
                    </select><br>

                    <label th:for="city">시/군/구</label>
                    <select class="form-select" th:field="*{city}">
                        <option value=""> --시군구-- </option>
                    </select>

                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button id="submitBtn" class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
</div>
<script async th:inline="javascript">
    /*<![CDATA[*/

    let validateNicknameInpYn = "N";

    $(function () {
        // 시/도 , 시/군/구는 한 세트 이기 때문에 한 곳만 값을 저장되는 것을 방지
        $("#state").val("");
        $("#city").val("");
    })


    $("#state").on('change', function () {
        $.ajax({
            url: "/signup/getPsAreaCd.do",
            type: "post",
            data: {"pprAreaCd" : $(this).val()},
            sync: false,
            success: function (areaList) {
                $("#city").empty();
                $("#city").append("<option value=\"\"> --시군구-- </option>");
                $.each(areaList, function (idx, area) {
                    $("#city").append($("<option>", {
                        value: area.areaCd
                        ,text: area.areaName
                    }));
                })
            }
        })
    });


    $("#validateNicknameBtn").on('click', function () {

        if ($("#nickname").val() === null || $("#nickname").val() === "") {
            alert("별명을 입력해주세요.");
            $("#validateNicknameMsg").css("display", "none");
            return false;
        }

        $.ajax({
            url: "/signup/validate-nickname.do",
            type: "post",
            data: {"nickname" : $("#nickname").val()},
            sync: false,
            success: function (canUseYn) {
                if (canUseYn === "N") {
                    $("#validateNicknameMsg").css("display", "block");
                    $("#validateNicknameMsg").css("color", "#bd2130");
                    $("#validateNicknameMsg").text("이미 존재하는 별명 입니다.");

                    validateNicknameInpYn = "N";

                } else {
                    $("#validateNicknameMsg").css("display", "block");
                    $("#validateNicknameMsg").css("color", "#00bfff");
                    $("#validateNicknameMsg").text("사용 가능한 별명 입니다.");

                    validateNicknameInpYn = "Y";
                }
            }
        })
    });


    $("#submitBtn").on('click', function () {

        if (validateNicknameInpYn === "N") {
            $("#validateNicknameMsg").css("display", "block");
            $("#validateNicknameMsg").css("color", "#bd2130");
            $("#validateNicknameMsg").text("별명 중복 확인이 완료되지 않았습니다.");
            return false;
        }

        if ($("#aggrement").is(':checked') === false) {
            alert("개인정보 수집 및 이용에 대한 안내에 동의해 주세요");
            return false;
        }
    });

    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>

</html>