<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>

<script th:inline="javascript">
    /* <![CDATA[ */
    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/
    /* ]]> */

    if (errorMessage != null) {
        Swal.fire({
            title: 'Error',
            html: errorMessage,
            icon: "error"
        });
    } else if (successMessage != null) {
        Swal.fire({
            title: 'Success',
            html: successMessage,
            icon: 'success'
        })
    }
</script>

<div class="container">
    <div class="input-form-background row">
        <div class="input-form mx-auto">
            <h4 class="mb-3">계정 찾기</h4>

            <div id="add-alert"></div>


            <div class="mb-5">
                <label th:for="email">이메일</label>
                <input type="email" class="form-control" th:id="email" th:name="email" placeholder="이메일을 입력해주세요." required>
            </div>

            <hr class="mb-4">

            <div class="mb-4"></div>
            <button id="submitBtn" class="btn btn-primary btn-lg btn-block" type="button">찾기</button>
        </div>
    </div>
</div>
<script async th:inline="javascript">
    /*<![CDATA[*/

    $("#submitBtn").on('click', function () {

        $("#add-alert").empty().append(
            "            <div class=\"col-md-12\">\n" +
            "                <div class=\"alert alert-success alert-dismissible fade in\" style=\"margin-top: 10px;\">\n" +
            "                    <button id='close-btn' type=\"button\" class=\"close\" aria-hidden=\"true\">×</button>\n" +
            "                    <div class=\"alert-body\">\n" +
                                        "입력한 이메일 주소로 비밀번호 초기화 방법을 보내고 있는 중입니다." +
            "                    </div>\n" +
            "                </div>\n" +
            "            </div>"
        );

        $.ajax({
            url: "/forget/find.do",
            type: "post",
            data: {"email" : $("#email").val()},
            sync: false,
            success: function (message) {
                $("#add-alert").empty().append(
                    "            <div class=\"col-md-12\">\n" +
                    "                <div class=\"alert alert-success alert-dismissible fade in\" style=\"margin-top: 10px;\">\n" +
                    "                    <button id='close-btn' type=\"button\" class=\"close\" aria-hidden=\"true\">×</button>\n" +
                    "                    <div class=\"alert-body\">\n" +
                                                message +
                    "                    </div>\n" +
                    "                </div>\n" +
                    "            </div>"
                );
            }
        })
    });


    $(document).on('click', '#close-btn', function () {
        $("#add-alert").empty();
    });

    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>

</html>

