<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
    <div class="container">
        <div class="input-form-background row">
            <div class="input-form mx-auto">
                <form action="/login_proc" method="POST">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>

                        <button type="button" class="btn btn-light btn-floating mx-1 btn-social" data-social="google">
                            <img src="/images/google.PNG" style="width:25px; height:25px"/>
                        </button>

                        <button type="button" class="btn btn-light btn-floating mx-1 btn-social" data-social="naver">
                            <img src="/images/naver.PNG" style="width:25px; height:25px"/>
                        </button>

                        <button type="button" class="btn btn-light btn-floating mx-1 btn-social" data-social="kakao">
                            <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/000000/external-free-instant-messaging-app-for-cross-platform-devices-logo-color-tal-revivo.png"/>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" th:name="username" class="form-control form-control-lg" placeholder="아이디를 입력해주세요." />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" th:name="password" class="form-control form-control-lg" placeholder="비밀번호를 입력해주세요." />

                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup" class="link-danger">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let socials = document.getElementsByClassName("btn-social");
        for (let social of socials) {
            social.addEventListener('click', function () {
               let socialType = this.getAttribute('data-social') ;
               location.href="/oauth2/authorization/" + socialType;
            });
        }
    </script>
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>