<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<header th:replace="fragments/header::header"></header>
<body>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form mx-auto">
            <h4 class="mb-3">비밀번호 초기화</h4>
            <form th:action="@{/password/reset/{encryptedData}(encryptedData=${encryptedData})}" method="post">
                <div class="mb-5">
                    <label th:for="password">새 비밀번호</label>
                   <input type="password" class="form-control" th:id="password" th:name="password"  required>
                </div>

                <div class="mb-5">
                    <label th:for="password2">새 비밀번호 확인</label>
                    <input type="password" class="form-control" th:id="password2" th:name="password2" required>
                </div>

                <hr class="mb-4">

                <div class="mb-4"></div>
                <button id="submitBtn" class="btn btn-primary btn-lg btn-block" type="submit">변경</button>
            </form>
        </div>
    </div>
</div>
<script async th:inline="javascript">
    /*<![CDATA[*/

    $("#submitBtn").on('click', function () {
        let password = $("#password").val();
        let password2 = $("#password2").val();

        if (password !== password2) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        }
    });


    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>

</html>

