<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <div class="row py-5 text-center">
        <div class="col-3">
            <ul class="list-group mt-4">
                <a href="#" th:if="${newBoardActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    상품 등록
                    <span th:text="${newBoardActivityList.size()}">3</span>
                </a>
                <a href="#" th:if="${newAttentionActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    관심 등록
                    <span th:text="${newAttentionActivityList.size()}">0</span>
                </a>
                <a href="#" th:if="${newCommentActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    댓글 등록
                    <span th:text="${newCommentActivityList.size()}">0</span>
                </a>
                <a href="#" th:if="${newLikesActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    좋아요 등록
                    <span th:text="${newLikesActivityList.size()}">0</span>
                </a>
                <a href="#" th:if="${newChatActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    채팅 등록
                    <span th:text="${newChatActivityList.size()}">0</span>
                </a>
                <a href="#" th:if="${newReviewActivityList.size() > 0}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    후기 등록
                    <span th:text="${newReviewActivityList.size()}">0</span>
                </a>
            </ul>
        </div>
        <div class="col-9">
            <div class="card" th:if="${activityList.size() == 0}">
                <div class="card-header">
                    활동 내역이 없습니다.
                </div>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newBoardActivityList.size() > 0}">
                <div class="card-header">
                    판매 상품을 등록했습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${boardActivity.link}}" th:each="boardActivity : ${newBoardActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small class="text-muted" style="float: left"><span th:text="|${boardActivity.receiverName}|" style="color: #0090F9"></span>님이 [[${boardActivity.message}]]</small><br>
                            <span style="float: left" th:text="${boardActivity.content}"></span>
                            <small class="fromNow text-muted" style="float: right" th:text="${boardActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newAttentionActivityList.size() > 0}">
                <div class="card-header">
                    판매상품에 관심을 가졌습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${attentionActivity.link}}" th:each="attentionActivity : ${newAttentionActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small class="text-muted" style="float: left"><span th:text="|${attentionActivity.receiverName}|" style="color: #0090F9"></span>님이 [[${attentionActivity.message}]]</small><br>
                            <span style="float: left" th:text="${attentionActivity.content}"></span>
                            <small style="float: right" class="text-muted" th:text="${attentionActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newCommentActivityList.size() > 0}">
                <div class="card-header">
                    판매상품에 댓글을 등록했습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${commentActivity.link}}" th:each="commentActivity : ${newCommentActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small class="text-muted" style="float: left"><span th:text="|${commentActivity.receiverName}|" style="color: #0090F9"></span>님이 [[${commentActivity.message}]]</small><br>
                            <span style="float: left" th:text="${commentActivity.content}"></span>
                            <small style="float: right" class="fromNow text-muted" th:text="${commentActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newLikesActivityList.size() > 0}">
                <div class="card-header">
                    판매상품에 등록된 댓글에 좋아요를 눌렀습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${likesActivity.link}}" th:each="likesActivity : ${newLikesActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small class="text-muted" style="float: left"><span th:text="|${likesActivity.receiverName}|" style="color: #0090F9"></span>님이 [[${likesActivity.message}]]</small><br>
                            <span style="float: left" th:text="${likesActivity.content}"></span>
                            <small style="float: right" class="fromNow text-muted" th:text="${likesActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newChatActivityList.size() > 0}">
                <div class="card-header">
                    판매상품에 채팅을 오픈했습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${chatActivity.link}}" th:each="chatActivity : ${newChatActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small style="float: left" class="text-muted"><span th:text="${chatActivity.receiverName}" style="color: #0090F9"></span>님이 [[${chatActivity.message}]]</small><br>
                            <span style="float: left" th:text="${chatActivity.content}"></span>
                            <small style="float: right" class="fromNow text-muted" th:text="${chatActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>

            <div class="card" style="margin-bottom: 20px;" th:if="${newReviewActivityList.size() > 0}">
                <div class="card-header">
                    판매상품에 후기를 등록했습니다.
                </div>
                <ul class="list-group list-group-flush">
                    <a th:href="@{${reviewActivity.link}}" th:each="reviewActivity : ${newReviewActivityList}" class="list-group-item list-group-item-action">
                        <div>
                            <small style="float: left" class="text-muted"><span th:text="${reviewActivity.receiverName}" style="color: #0090F9"></span>님에게 [[${reviewActivity.message}]]</small><br>
                            <span style="float: left" th:text="${reviewActivity.content}"></span>
                            <small style="float: right" class="fromNow text-muted" th:text="${reviewActivity.diffCreatedAt}"></small>
                        </div>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>