<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://img.icons8.com/emoji/48/000000/carrot-emoji.png"/>
            </a>
            <a href="/" style="text-decoration:none;font-family: 'Jua', sans-serif; color :orange; font-size: 30px; margin-right: 30px;">당근 마켓</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="물품을 검색해보세요." aria-label="Search">
                    <button class="btn btn-link" type="submit">
                        <img src="https://img.icons8.com/ios-glyphs/32/000000/search--v1.png" alt="search"/>
                    </button>
                </form>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <button sec:authorize="isAnonymous()" type="button" class="btn btn-outline-secondary btn-space" th:onclick="|location.href='/login'|">로그인</button>
                <button sec:authorize="isAnonymous()" type="button" class="btn btn-primary btn-space" th:onclick="|location.href='/signup'|">회원가입</button>
<!--                <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-secondary btn-space" th:onclick="|location.href='/certify'|">동네인증</button>-->
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
                        <h5 sec:authorize="isAuthenticated()" style="display: inline-block;" th:text="${nickname}"></h5>
                        <img th:if="${certifyYn eq 'Y'}" src="https://img.icons8.com/windows/32/000000/check-male.png" alt="account"/>
                        <img th:if="${certifyYn eq 'N'}" src="https://img.icons8.com/windows/32/000000/contacts.png" alt="account"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile"><img src="https://img.icons8.com/material-outlined/24/000000/user--v1.png" alt="profile"/> 나의 프로필</a></li>
                        <li><a class="dropdown-item" href="/activity"><img src="https://img.icons8.com/ios-glyphs/24/000000/activity-history.png" alt="activity"/> 나의 활동</a></li>
                        <li><a class="dropdown-item" href="/address"><img src="https://img.icons8.com/fluency-systems-regular/24/000000/user-location.png" alt="setting"/> 동네 설정</a></li>
                        <li><a class="dropdown-item" href="/certify"><img src="https://img.icons8.com/ios-glyphs/24/000000/center-direction.png" alt="certify"/> 동네 인증</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout"><img src="https://img.icons8.com/fluency-systems-regular/20/000000/exit.png" alt="logout"/> 로그아웃</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
                        <img src="https://img.icons8.com/material-outlined/32/000000/carrot.png" alt="daanngn"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/board/new"><img src="https://img.icons8.com/ios/24/000000/add-to-collection--v2.png" alt="new"/> 물건 등록</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/ios/24/000000/land-sales.png" alt="sale"/> 판매 내역</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/material-outlined/24/000000/shopping-cart--v1.png" alt="buy"/> 구매 내역</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/ios/24/000000/novel--v1.png" alt="attention"/> 관심목록</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/chatList" role="button">
                        <img th:if="${!hasChatNotification}" src="https://img.icons8.com/external-anggara-detail-outline-anggara-putra/32/000000/external-chatting-support-anggara-detail-outline-anggara-putra-2.png"/>
                        <img th:if="${hasChatNotification}" src="https://img.icons8.com/external-anggara-blue-anggara-putra/32/000000/external-chatting-support-anggara-blue-anggara-putra-2.png"/>
                    </a>
                </li>
                <li id="alarm" sec:authorize="isAuthenticated()" class="nav-item dropdown alarmClass">
                    <a class="nav-link alarmClass" href="#" role="button" data-bs-toggle="dropdown">
                        <img th:if="${!hasAlarm}" src="https://img.icons8.com/external-anggara-outline-color-anggara-putra/32/000000/external-notification-basic-user-interface-anggara-outline-color-anggara-putra.png" class="alarmClass"/>
                        <img th:if="${hasAlarm}" src="https://img.icons8.com/external-anggara-blue-anggara-putra/32/000000/external-notification-basic-user-interface-anggara-blue-anggara-putra.png" class="alarmClass"/>
                    </a>
                    <ul id="alarmList" class="dropdown-menu list-group list-group-flush" style="overflow:auto; height: 700px; width: 420px; display: none">

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-expand-lg bg-light" th:if="${certifyYn eq 'N'}">
        <div class="container" style="margin-top: 30px;">
            <div style="float: left">
                <p style="font-family: 'Jua', sans-serif; color :orange; font-size: 30px;">따듯한 거래를 시작해보세요~</p>
                <small class="text-muted">지금 동네인증을 하고 안양시 동안구 근처 이웃 326,823명과 거래하세요.</small>
            </div>
            <div style="float: right">
                <a href="/certify" class="btn btn-primary" style="float:right; background-color: orange; border-color: orange; color: white">동네인증하고 시작하기</a>
            </div>
        </div>
    </nav>
<br><br><br><br>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).on('click', function (e) {
           if(!$(e.target).hasClass("alarmClass")) {
               $("#alarmList").css("display", "none");
           }
        });

        $("#alarm").on('click', function () {

            $("#alarmList").css("display", "");

            $.ajax({
                url:"/alarmList/show.do",
                type:"get",
                sync: false,
                success: function (alarmList) {
                    $("#alarmList").empty();
                    $("#alarmList").append(
                        "<div style='height: 30px; vertical-align: middle;'>" +
                            "<span style='float: left; margin-left: 13px; line-height: 40px;'>알림</span>" +
                            "<span style='float: right; margin-right: 13px; line-height: 28px;'><a href='/alarmList'><img src=\"https://img.icons8.com/ios/28/000000/search-in-list.png\"/></a></span>" +
                        "</div>" +
                        "<hr>"
                    )
                    $.each(alarmList, function (index, alarm) {

                        let clickYnTag;

                        if (alarm.clickYn === "Y") {
                            clickYnTag = "<div id='circle2'></div>";
                        } else {
                            clickYnTag = "<div id='circle1'></div>";
                        }

                        $("#alarmList").append(
                            "<li>" +
                                "<a href=\"" + alarm.link + "\" class=\"dropdown-item list-group-item-action\" id=\"alarm-" + alarm.id + "\" onclick='alarmClick(this)'>" +
                                    "<div style='float:left; display: inline-block; margin-right: 5px; margin-top: 10px;'>" +
                                        clickYnTag +
                                    "</div>" +
                                    "<div style='display: inline-block'>" +
                                        "<small class=\"text-muted\" style='white-space: normal'>" + "<span style='color:#0090F9'>" + alarm.sender + "</span>" + "님이 " + alarm.message + "</small>" +
                                        "<small class=\"fromNow text-muted\" style='display: block'>" + alarm.diffCreatedAt + "</small>" +
                                    "</div>" +
                                "</a>" +
                            "</li>" +
                            "<hr>"

                        )
                    })
                }
            });
        });

        function alarmClick(alarm) {
            let alarmId = alarm.id.toString().substring(6);
            $.ajax({
                url:"/alarmList/click.do",
                type:"post",
                sync: false,
                data: {"alarmId" : alarmId}
            });
        }

        /*]]>*/
    </script>
</header>
</html>