<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <div class="row row d-flex justify-content-center align-items-center h-100">
        <h4 class="mb-3">거래자 선택</h4>
        <div class="col-9">
            <div class="card">
                <div class="list-group-item list-group-item-action">
                    <div style="float: left">
                        <img th:src="${sale.boardImage}" style="width: 120px; height: 120px; float: left; display: inline-block">
                        <div style="margin-top: 15px; margin-left: 10px; display: inline-block">
                            <h4 style="display: inline-block" th:text="${sale.boardTitle}"></h4><br>
                            <small class="text-muted" th:text="${sale.area.getAreaName()}"></small> · <small class="text-muted" th:text="${sale.diffCreatedAt}"></small><br>
                            <small style="font-weight: bold" th:text="|${#numbers.formatInteger(sale.boardPrice, 0, 'COMMA')}￦|"></small>
                        </div>
                    </div>
                </div>
            </div><br><br><br>

            <div class="card" th:if="${chatList.size() == 0}">
                <div class="card-header">
                    대화한 사용자가 없습니다.
                </div>
            </div>
            <div class="card" th:if="${chatList.size() > 0}">
                <div class="card-header">
                    채팅목록에서 거래자 찾기
                </div>
                <ul class="list-group list-group-flush">
                    <th:block th:each="chat : ${chatList}">
                        <a th:href="|/board/${chat.board.getId()}/chat?roomNum=${chat.roomNum}|" class="list-group-item list-group-item-action">
                            <div style="float: left">
                                <div style="margin-top: 15px; margin-left: 10px; display: inline-block">
                                    <h4 style="display: inline-block" th:text="${chat.sender.getNickname()}"></h4><br>
                                    <small class="text-muted" th:text="${chat.sender.getArea().getAreaName()}"></small> · <small class="text-muted" th:text="|마지막 대화 ${chat.diffLastCommentUpdatedAt}|"></small><br>
                                </div>
                            </div>
                        </a>
                        <div style="border-bottom: 1px solid #d1d2d4;">
                            <div>
                                <form th:action="@{/saleList/{boardId}/purchaser(boardId=${chat.board.getId()})}" th:method="post">
                                    <button id="btn-purchaser" th:name="purchaserId" class="btn btn-primary" th:value="${chat.sender.getId()}" style="background-color: white; border-color: white; color: orange; width: 100%">구매자선택</button>
                                </form>
                            </div>
                        </div>
                    </th:block>
                </ul>
            </div>

        </div>
    </div>
</div>

<script async th:inline="javascript">
    /*<![CDATA[*/

    var errorMessage = /*[[${errorMsg}]]*/
    var successMessage = /*[[${successMsg}]]*/

    if (errorMessage != null) {
        Swal.fire({
            title: 'Error',
            html: errorMessage,
            icon: "error"
        });
    } else if (successMessage != null) {
        Swal.fire({
            title: 'Success',
            html: successMessage,
            icon: 'success'
        })
    }

    /*]]>*/
</script>

</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>